.section1 {
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ebebeb;
   
    &__from {
        margin: 0.5rem;
    }
    &__button{
        margin: 2rem 0;
        display: flex;
        gap: 20px;

       &__btn {
            width: 5.5rem;
            height: 2.2rem;
            font-size: 1rem;
            border: none;
            background-color: $color-back-form;
            color: $color-form;
        }
    }
}

 @media all and (min-width: 768px) {
    .section1 { 
        &__button {
            &__enter {
                width: 5.8rem;
                height: 2.5rem;
                font-size: 1.2rem;
            }
            &__reset {
                width: 5.8rem;
                height: 2.5rem;
                font-size: 1.2rem;
            }
        }
    }      
}