.message-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 0.5rem;
}

.user-message {
    font-size: 0.7rem;
    background-color: $color-backUser-message;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
}

.chatbot-message {
    font-size: 0.7rem;
    color: $color-chat-message;
    background-color: $color-backChat-message;
    margin-left: 3rem;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
}

.user-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
    padding: 0.2rem 0.5rem;
    gap: 10px;

    &__questionText {
        font-family: $font-text;
        width: 85%;
        padding: 0.6rem;
        font-size: 0.8rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow-y: auto;
    }
}

button {
    width: 20%;
    padding: 0.5rem;
    font-size: 1.2rem;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

@media all and (min-width: 768px) {
    .user-message {
        font-size: 1rem;
    }

    .chatbot-message {
        font-size: 1rem;
    }

    .user-input {
        &__questionText {
            width: 80%;
            padding: 10px 20px;
            font-size: 1rem;
        }
    }
}