.section2 {
    margin: 1rem;
    margin-bottom: 7rem;
    &__title {
        font-size: 1.5rem;
        text-align: center;
    }
}

.results {
    &__type {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: $font-text;
        margin: 0.7rem;
        font-size: 1rem;
        &__blood {
            background-color: #ffb6c1;
            font-size: 2rem;
            font-family: $font-title;
            text-align: center;
            width: 4.6rem;
            height: 4rem;
            padding: 0.8rem 0.3rem;
            margin-top: 1rem;
        }
    }
    &__box{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        &__donate {
            font-family: $font-text;
             background-color: #90ee90;
            border-radius: 20px;
             width: 20rem;
             height: 12rem;
             padding: 1rem;
             &__text {
                font-size: 1rem;
                display: flex;
                flex-direction: column;
                &__list {
                    font-family: $font-title;
                    color: #2f4f4f;
                    padding: 0.5rem;
                    font-size: 1.5rem;
                }
             }

        }
        &__receive {
            font-family: $font-text;
            background-color: #87ceeb;
            width: 20rem;
            border-radius: 20px;
            height: 12rem;
            padding: 1rem;
            &__text {
                font-size: 1rem;
                display: flex;
                flex-direction: column;
                &__list {
                font-family: $font-title;
                color: #191970;
                padding: 0.5rem;
                font-size: 1.5rem;
                }
            }
        }
    }
}

@media all and (min-width: 768px) {
.section2 {
        &__title {
            font-size: 1.8rem;
        }
    }

.results {
    &__type {
        font-size: 1.2rem;

        &__blood {
            font-size: 2.1rem;
            width: 4.7rem;
            height: 4.1rem;
        }
    }

    &__box {
        display: flex;
        gap: 2rem;

        &__donate {
            padding: 1.5rem;

            &__text {
                font-size: 1.2rem;

                &__list {
                    padding: 0.8rem;
                    font-size: 1.8rem;
                }
            }
        }

        &__receive {
            padding: 1.5rem;

            &__text {
                font-size: 1.2rem;
            
                &__list {
                    padding: 0.8rem;
                    font-size: 1.8rem;
                }
            }
        }
    }
}
}