$font-title: 'Roboto', sans-serif;
$font-text: 'Roboto Flex',
sans-serif;

// COLORS
//Color Chatbot
$color-chatbot:#f0f8ff;
$color-backUser-message: #ffffff;
$color-chat-message: white;
$color-backChat-message: #4169e1;
$color-button: #fff;
$color-back-button: #45a049;
$color-closeBtn: #0000ff;

//Colors Form
$color-back-form: #dc143c;
$color-form: #f5f5f5;

//Color Select
$color-back-select: #f5f5f5;
$color-select: #8b0000;
