/* Here are your styles */
//Imports styles
@import 'core/variables';
@import 'layout/header';
@import 'layout/form';
@import 'layout/results';
@import 'layout/select';
@import 'layout/bloodImage';


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}


select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select::-webkit-outer-spin-button,
select::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.App {
    display: flex;
        flex-direction: column;
        min-height: 100vh;
        position: relative;

}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1rem;
 
    &__list {
        
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10rem;
        padding: 1rem;    
    }
}